{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
Text to go into header goes here.

{% comment %}
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
{% endcomment %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
